option_settings:
  aws:elasticbeanstalk:application:environment:
    GEMINI_API_KEY: "AIzaSyDinKJfSmvBw8BOsbhoUnrm-RLzRv1Ub44"
    MONGO_URI: "mongodb+srv://sampathkumar4008:ea9IEuPRxnWyrcHE@debateai.mne98el.mongodb.net/debateai?retryWrites=true&w=majority&appName=DEBATEAI"
    JWT_SECRET_KEY: "X7b9c2kL5mNpQrTwY8vZx3jF6hGdJtU9"
    FLASK_ENV: "production"
commands:
  01_upgrade_pip:
    command: "pip install --upgrade pip"
